@import controllers.Application.DeceasedMsg

@(replyMsg: String)

<!DOCTYPE html>

<html>
    <head>
        <title>Reply</title>
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <img src="@routes.Assets.at("images/typesafe_conductR_full_color.svg")" class="conductr-logo">
        <p>@replyMsg</p>
    </body>
</html>
